* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    background-color: #263238
}

ul {
    list-style: none;
}

.coinlist-item {
    display: flex;
}

.coinsummary {
    border-color: white !important;
    border-style: outset !important;
}

.coinlist-image {
    height: 100px;
}

.coin-data-category {
    font-size: 10px;
}

.delete-icon {
    display: none;
    position: absolute;
    font-size: 20px;
    right: 6px;
}

.coin:hover .delete-icon {
    display: block;
}

.value-negative {
    color: red
}

.value-positive {
    color: green
}